<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X=UA-Compatoble" content="ie=edge">
        <link rel="stylesheet" href="/css/home.css" />
        <title>{{ pageTitle }}</title>
    </head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"> <a href='/'>Home</a> </li>
            </ul>
        </nav>
    </header>
    <div>
        <h2> {{ pageTitle }} </h2>
    </div>
</body>
</html>